/*export fonts*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*
CSS rules to specify families
font-family: 'Merriweather', serif;
*/


/*basic styles*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}


/*desktop first*/

@media screen and (max-width: 1440px) {
    /*header => nav bar*/
    .nav {
        width: 100%;
        background-color: #ef4e29;
        padding: 1rem;
    }
    /*nav bar left size*/
    .nav__left-size {}
}