/*export fonts*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*
CSS rules to specify families
font-family: 'Merriweather', serif;
*/


/*basic styles*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    font-family: 'Merriweather', serif;
}

a {
    text-decoration: none;
    color: white;
}


/*desktop first*/

@media screen and (max-width: 1440px) {
    /*header => nav bar*/
    .nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        max-width: 1440px;
        background-color: #ef4e29;
        padding: 1rem 0;
    }
    /*nav bar left size*/
    .nav__left-size {
        font-size: 2rem;
        font-weight: 600;
        padding-left: 4rem;
    }
    /*nav bar right size*/
    .nav__right-size {
        padding-right: 5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: .8rem;
        font-weight: 100;
        text-transform: capitalize;
    }
    .nav__right-size a {
        margin-right: 1rem;
    }
    /*nav right button*/
    #nav__right-size-button {
        color: #ef4e29;
        padding: .5rem 1rem;
        background-color: white;
        border-radius: .5rem;
    }
    /*nav right button hover*/
    #nav__right-size-button:hover {
        background-color: #ef4e29;
        color: white;
        border: white 1px solid;
    }
    /*main section*/
}